# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [8]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)
# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,52.81,80,64,11.07,broken clouds
1,1,New Norfolk,AU,-42.7826,147.0587,47.71,75,27,3.85,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,73.49,72,20,11.63,few clouds
3,3,Albany,US,42.6001,-73.9662,64.81,66,100,2.24,overcast clouds
4,4,Kaitangata,NZ,-46.2817,169.8464,48.92,68,18,5.59,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [10]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vaction? "))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your vaction? "))

What is the minimum temperature you would like for your vaction? 80
What is the maximum temperature you would like for your vaction? 95

## Create a new Pandas DataFrame by using the loc Pandas method to filter the city_data_df DataFrame for temperature criteria collected.

In [11]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Isangel,VU,-19.5500,169.2667,80.71,89,75,2.30,broken clouds
13,13,Campoverde,PE,-8.4753,-74.8058,87.49,59,96,3.00,overcast clouds
17,17,Adrar,MR,20.5022,-10.0711,84.13,23,0,8.08,clear sky
22,22,Benjamin Constant,BR,-4.3831,-70.0311,87.93,62,40,4.61,scattered clouds
31,31,Butaritari,KI,3.0707,172.7902,82.22,73,93,15.30,overcast clouds
33,33,Camargo,MX,27.6667,-105.1667,84.65,23,18,10.63,few clouds
37,37,Port Charlotte,US,26.9762,-82.0906,82.18,56,99,4.00,overcast clouds
42,42,Winfield,US,37.2398,-96.9956,84.29,18,0,9.22,clear sky
45,45,Cabo San Lucas,MX,22.8909,-109.9124,92.61,67,14,5.93,few clouds
48,48,El Roble,CO,9.1019,-75.1951,83.64,79,90,1.16,overcast clouds

## Create a new Pandas DataFrame named clean_travel_cities by using the Pandas dropna function on the preferred_cities_df to drop any empty rows.

In [12]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Isangel,VU,-19.5500,169.2667,80.71,89,75,2.30,broken clouds
13,13,Campoverde,PE,-8.4753,-74.8058,87.49,59,96,3.00,overcast clouds
17,17,Adrar,MR,20.5022,-10.0711,84.13,23,0,8.08,clear sky
22,22,Benjamin Constant,BR,-4.3831,-70.0311,87.93,62,40,4.61,scattered clouds
31,31,Butaritari,KI,3.0707,172.7902,82.22,73,93,15.30,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [14]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

                 City Country  Max Temp Current Description      Lat       Lng
10            Isangel      VU     80.71       broken clouds -19.5500  169.2667
13         Campoverde      PE     87.49     overcast clouds  -8.4753  -74.8058
17              Adrar      MR     84.13           clear sky  20.5022  -10.0711
22  Benjamin Constant      BR     87.93    scattered clouds  -4.3831  -70.0311
31         Butaritari      KI     82.22     overcast clouds   3.0707  172.7902
33            Camargo      MX     84.65          few clouds  27.6667 -105.1667
37     Port Charlotte      US     82.18     overcast clouds  26.9762  -82.0906
42           Winfield      US     84.29           clear sky  37.2398  -96.9956
45     Cabo San Lucas      MX     92.61          few clouds  22.8909 -109.9124
48           El Roble      CO     83.64     overcast clouds   9.1019  -75.1951

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [15]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Isangel,VU,80.71,broken clouds,-19.5500,169.2667,
13,Campoverde,PE,87.49,overcast clouds,-8.4753,-74.8058,
17,Adrar,MR,84.13,clear sky,20.5022,-10.0711,
22,Benjamin Constant,BR,87.93,scattered clouds,-4.3831,-70.0311,
31,Butaritari,KI,82.22,overcast clouds,3.0707,172.7902,
33,Camargo,MX,84.65,few clouds,27.6667,-105.1667,
37,Port Charlotte,US,82.18,overcast clouds,26.9762,-82.0906,
42,Winfield,US,84.29,clear sky,37.2398,-96.9956,
45,Cabo San Lucas,MX,92.61,few clouds,22.8909,-109.9124,
48,El Roble,CO,83.64,overcast clouds,9.1019,-75.1951,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [16]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [18]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Isangel,VU,80.71,broken clouds,-19.5500,169.2667,Tanna Lodge
13,Campoverde,PE,87.49,overcast clouds,-8.4753,-74.8058,Hospedaje Coral's
17,Adrar,MR,84.13,clear sky,20.5022,-10.0711,
22,Benjamin Constant,BR,87.93,scattered clouds,-4.3831,-70.0311,CASA AVALIADA
31,Butaritari,KI,82.22,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
33,Camargo,MX,84.65,few clouds,27.6667,-105.1667,Hotel Santa Fe
37,Port Charlotte,US,82.18,overcast clouds,26.9762,-82.0906,Knights Inn Port Charlotte
42,Winfield,US,84.29,clear sky,37.2398,-96.9956,Sonner Motor Inn
45,Cabo San Lucas,MX,92.61,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
48,El Roble,CO,83.64,overcast clouds,9.1019,-75.1951,Los Frailes

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [21]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Isangel,VU,80.71,broken clouds,-19.5500,169.2667,Tanna Lodge
13,Campoverde,PE,87.49,overcast clouds,-8.4753,-74.8058,Hospedaje Coral's
22,Benjamin Constant,BR,87.93,scattered clouds,-4.3831,-70.0311,CASA AVALIADA
31,Butaritari,KI,82.22,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
33,Camargo,MX,84.65,few clouds,27.6667,-105.1667,Hotel Santa Fe
37,Port Charlotte,US,82.18,overcast clouds,26.9762,-82.0906,Knights Inn Port Charlotte
42,Winfield,US,84.29,clear sky,37.2398,-96.9956,Sonner Motor Inn
45,Cabo San Lucas,MX,92.61,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
48,El Roble,CO,83.64,overcast clouds,9.1019,-75.1951,Los Frailes
51,Sinnamary,GF,80.31,few clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [22]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [23]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [24]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [25]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.71 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Hospedaje Coral's</dd>\n<dt>City</dt><dd>Campoverde</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 87.49 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>CASA AVALIADA</dd>\n<dt>City</dt><dd>Benjamin Constant</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 87.93 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Santa Fe</dd>\n<dt>City</dt><dd>Camargo</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Knights Inn Port Charlotte</dd>\n<dt>City</dt><dd>Port Charlotte</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sonner Motor Inn</dd>\n<dt>City</dt><dd>Winfield</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 92.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Los Frailes</dd>\n<dt>City</dt><dd>El Roble</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ALETHEIA Appartement Sinnamary</dd>\n<dt>City</dt><dd>Sinnamary</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.31 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [26]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
10 -19.5500  169.2667
13  -8.4753  -74.8058
22  -4.3831  -70.0311
31   3.0707  172.7902
33  27.6667 -105.1667
37  26.9762  -82.0906
42  37.2398  -96.9956
45  22.8909 -109.9124
48   9.1019  -75.1951
51   5.3833  -52.9500

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [27]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))